html {
    box-sizing: border-box;
    min-height: 100%;
}

.logo{
  position: absolute;
  top: 1vh;
  left: 3vw;
  height: 22%;
  width: 24%;

}

.menu{
  display: flex;
  list-style-type: none;
  grid-gap: 10%;
  margin-left: 5%;
  position: absolute;
  top:  6%;
  left: 28%;

}

.menu a{
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  font-family: 'DM Sans', sans-serif;
  color: black;
  font-weight: 900;
  color: black;
  transition: color 0.3s ease-out;


}

.menu a:hover{
  color: white;
  text-decoration: underline;

}

.stock1{
 width: 99vw;
 margin: -0.625rem;


}

.EC{
  box-sizing: border-box;
  width: 65%;
  font-size: 40px;
  text-align:justify;
  text-decoration: none;
  font-family: 'DM Sans', sans-serif;
  color: white;
  position: absolute;
  z-index: 3;
  top: 40vh;
  margin-left: 17vw;


}

.serv{
  color: #b52a87;
  transition: color 0.5s ease-out;
}

.serv:hover{
  color: white;
}

.expe {
  color: #2cb6fe;
  transition: color 0.5s ease-out;
}

.expe:hover{
  color: white;
}

.pnl{
  color: white;
  transition: color 0.5s ease-out;
}

.pnl:hover{
  color: #b52a87;
}

.bll{
  color: white;
  transition: color 0.5s ease-out;
}

.bll:hover{
  color: #2cb6fe;
}

#whiteLayer{
  position: fixed;
  position: relative;
  top: -178px;
  left: -10px;
  width: 99vw;
  height: 100vh;
  background: #ececec;
}

.mid-text{
  box-sizing: border-box;
  width: 70vw;
  font-size: 40px;
  text-align: justify;
  text-decoration: none;
  font-family: 'DM Sans', sans-serif;
  color: black;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -118vh;
}

.stock2{
  max-width: 99vw;
  margin-left: -10px;
  position: relative;
  top: -100vh;
}

.NP{
  box-sizing: border-box;
  width: 100px;
  font-size: 40px;
  font-weight: bold;
  text-align: justify;
  text-decoration: none;
  font-family: 'DM Sans', sans-serif;
  color: black;
  margin-left: 100px;
  position: relative;
  top: -131vh;
  color: white;
}
